In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("facebook.csv")
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [3]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [4]:
df1 = df.dropna()

In [5]:
df1.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [6]:
df1['Type'] = df1['Type'].replace(['Photo'],1)
df1['Type'] = df1['Type'].replace(['Status'],0)

C:\Users\Shubham\AppData\Local\Temp\ipykernel_14408\862113152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Type'] = df1['Type'].replace(['Photo'],1)
C:\Users\Shubham\AppData\Local\Temp\ipykernel_14408\862113152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Type'] = df1['Type'].replace(['Status'],0)

In [7]:
subset1 = df1.loc[0:10]
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,1,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,0,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,1,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,1,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,1,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,0,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,1,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,1,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,0,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,1,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
10,139441,0,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252

In [8]:
subset2 = df1.loc[20:60,['Type','Category','comment','like','share']]
subset2

     Type  Category  comment   like  share
20      1         2        3   66.0   12.0
21      1         1        0    0.0    0.0
22   Link         1        0   16.0    2.0
23      1         3        0   72.0   24.0
24      0         2        3   99.0   19.0
25      0         2        0   88.0   18.0
26      0         2       10  412.0   72.0
27      1         3        0  100.0   17.0
28      1         2       36  523.0   63.0
29  Video         1       18  143.0   13.0
30      1         2       33  107.0   22.0
31      1         2        1   27.0   11.0
32      1         3        2  155.0   47.0
33      1         3        4   98.0   23.0
34      1         1        2   56.0   17.0
35      1         2        6  172.0   21.0
36      1         3        0   96.0   17.0
37      1         1       16   76.0    8.0
38      0         2       11  227.0   31.0
39      1         1        1   44.0   14.0
40      0         2        7  216.0   39.0
41   Link         1        6  187.0   18.0
42      1         1        7   26.0    3.0
43   Link         1        7   29.0   10.0
44      1         1        0   47.0   11.0
45   Link         1        4   57.0   10.0
46      0         1        4  174.0   36.0
47   Link         1        6   18.0    8.0
48      1         1        0   77.0   15.0
49   Link         1        1   12.0    1.0
50      1         2        1   48.0    9.0
51      1         1       24  285.0   28.0
52      1         1        9  202.0   31.0
53      1         1        4   64.0   19.0
54      1         1        4   66.0   13.0
55  Video         1        2   65.0   14.0
56      1         1        2  164.0   54.0
57      1         1        0   40.0   13.0
58      1         1        3   76.0   11.0
59      1         1        4  139.0   17.0
60      1         1        8  101.0   14.0

In [9]:
subset3 = df1[['Type','Category','comment','like','share']]
subset3

    Type  Category  comment    like  share
0      1         2        4    79.0   17.0
1      0         2        5   130.0   29.0
2      1         3        0    66.0   14.0
3      1         2       58  1572.0  147.0
4      1         2       19   325.0   49.0
..   ...       ...      ...     ...    ...
494    1         3       10   125.0   41.0
495    1         3        5    53.0   26.0
496    1         2        0    53.0   22.0
497    1         1        4    93.0   18.0
498    1         3        7    91.0   38.0

[495 rows x 5 columns]

In [10]:
subset4 = df1.iloc[100:200,[1,2,15,16,17]]
subset4

    Type  Category  comment    like  share
100    1         1        0     0.0    0.0
101    1         2       26  1505.0   95.0
102    1         3        2    63.0   14.0
103    1         1        0    13.0    4.0
104    1         1        4    59.0    9.0
..   ...       ...      ...     ...    ...
199    1         3       33  1155.0  102.0
200    1         2        2   139.0   25.0
201    1         1        0    40.0    5.0
202    0         2        2    53.0   15.0
203    1         3        4   220.0   19.0

[100 rows x 5 columns]

In [11]:
subset5 = df1.iloc[100:200,[3,4,5,18]]
subset5

     Post Month  Post Weekday  Post Hour  Total Interactions
100          10             4          9                   0
101          10             4          3                1626
102          10             3         10                  79
103          10             3          4                  17
104          10             2         11                  72
..          ...           ...        ...                 ...
199           8             4         10                1290
200           8             4          3                 166
201           8             3          9                  45
202           8             3          2                  70
203           8             2         10                 243

[100 rows x 4 columns]

In [12]:
subset6 = df1.iloc[100:200,[1,3,4,5,18]]
subset6

    Type  Post Month  Post Weekday  Post Hour  Total Interactions
100    1          10             4          9                   0
101    1          10             4          3                1626
102    1          10             3         10                  79
103    1          10             3          4                  17
104    1          10             2         11                  72
..   ...         ...           ...        ...                 ...
199    1           8             4         10                1290
200    1           8             4          3                 166
201    1           8             3          9                  45
202    0           8             3          2                  70
203    1           8             2         10                 243

[100 rows x 5 columns]

In [13]:
merge1 = pd.concat([subset2, subset4])
merge1

     Type  Category  comment    like  share
20      1         2        3    66.0   12.0
21      1         1        0     0.0    0.0
22   Link         1        0    16.0    2.0
23      1         3        0    72.0   24.0
24      0         2        3    99.0   19.0
..    ...       ...      ...     ...    ...
199     1         3       33  1155.0  102.0
200     1         2        2   139.0   25.0
201     1         1        0    40.0    5.0
202     0         2        2    53.0   15.0
203     1         3        4   220.0   19.0

[141 rows x 5 columns]

In [14]:
merge2 = pd.merge(subset4,subset5,left_index=True, right_index=True)
merge2

,Type,Category,comment,like,share,Post Month,Post Weekday,Post Hour,Total Interactions
100,1,1,0,0.0,0.0,10,4,9,0
101,1,2,26,1505.0,95.0,10,4,3,1626
102,1,3,2,63.0,14.0,10,3,10,79
103,1,1,0,13.0,4.0,10,3,4,17
104,1,1,4,59.0,9.0,10,2,11,72
...,...,...,...,...,...,...,...,...,...
199,1,3,33,1155.0,102.0,8,4,10,1290
200,1,2,2,139.0,25.0,8,4,3,166
201,1,1,0,40.0,5.0,8,3,9,45
202,0,2,2,53.0,15.0,8,3,2,70
203,1,3,4,220.0,19.0,8,2,10,243

In [15]:
merging = pd.merge(subset4,subset5,left_on="share",right_on="Post Month")
merging

,Type,Category,comment,like,share,Post Month,Post Weekday,Post Hour,Total Interactions
0,1,1,4,59.0,9.0,9,3,7,70
1,1,1,4,59.0,9.0,9,2,11,163
2,1,1,4,59.0,9.0,9,2,2,137
3,1,1,4,59.0,9.0,9,1,10,252
4,1,1,4,59.0,9.0,9,1,3,98
...,...,...,...,...,...,...,...,...,...
130,1,1,0,62.0,10.0,10,6,4,367
131,1,1,0,62.0,10.0,10,5,11,200
132,1,1,0,62.0,10.0,10,5,4,454
133,1,1,0,62.0,10.0,10,4,10,193
134,1,1,0,62.0,10.0,10,4,1,387

In [16]:
merge3 = pd.merge(subset4,subset6,on="Type")
merge3

,Type,Category,comment,like,share,Post Month,Post Weekday,Post Hour,Total Interactions
0,1,1,0,0.0,0.0,10,4,9,0
1,1,1,0,0.0,0.0,10,4,3,1626
2,1,1,0,0.0,0.0,10,3,10,79
3,1,1,0,0.0,0.0,10,3,4,17
4,1,1,0,0.0,0.0,10,2,11,72
...,...,...,...,...,...,...,...,...,...
7205,Link,1,15,143.0,44.0,10,6,11,35
7206,Link,1,0,24.0,11.0,10,5,10,48
7207,Link,1,0,24.0,11.0,10,4,3,202
7208,Link,1,0,24.0,11.0,10,6,11,35
7209,Video,1,6,345.0,121.0,9,2,10,472

# Sorting

In [17]:
sort1 = df1.sort_values(by=['Post Weekday'],ascending=True)
sort1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
357,116091,1,2,5,1,3,0.0,5976,10441,689,544,833,7055,4046,487,2,267.0,40.0,309
64,138185,1,1,11,1,10,0.0,2352,5234,232,182,258,4101,1761,181,2,60.0,7.0,69
145,136013,1,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96
146,136013,1,3,10,1,3,0.0,18120,44940,421,282,463,4401,2616,327,0,189.0,15.0,204
325,121540,1,3,6,1,3,0.0,3110,5405,732,712,892,4605,2540,342,2,33.0,10.0,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,138185,1,1,11,7,11,0.0,2149,4120,197,156,219,3302,1640,161,0,48.0,7.0,55
67,138185,1,1,11,7,3,1.0,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787
79,137177,1,1,11,7,12,0.0,3754,8533,658,640,2085,6838,3224,598,2,29.0,7.0,38
299,124940,1,1,6,7,4,0.0,8324,14480,840,834,1388,13786,7736,662,0,14.0,1.0,15
313,124940,1,3,6,7,3,1.0,4022,6503,647,616,995,5416,3312,423,3,65.0,14.0,82

In [18]:
sort2 = df1.sort_values(by=['Post Weekday','Lifetime Post Total Reach'],ascending=[True,False])
sort2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
379,111620,1,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
446,96749,1,1,3,1,2,1.0,98816,125026,11452,11328,18115,16682,10336,1356,10,197.0,21.0,228
323,123047,1,3,6,1,10,0.0,56672,104966,2579,1334,1850,78678,37408,1831,20,1372.0,47.0,1439
460,92507,1,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
206,132201,1,1,8,1,3,0.0,50640,121234,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,136642,1,1,10,7,11,0.0,729,1374,303,298,331,1284,650,262,0,7.0,0.0,7
125,136393,1,1,10,7,5,0.0,677,1240,236,228,264,1098,580,196,0,7.0,2.0,9
122,136393,1,1,10,7,8,0.0,619,1096,257,254,292,951,516,217,1,1.0,2.0,4
123,136393,1,1,10,7,7,0.0,617,1071,229,223,265,935,521,191,1,3.0,2.0,6
426,100732,1,1,3,7,18,0.0,391,746,131,130,766,723,380,93,0,6.0,1.0,7

In [19]:

sort3 = df.sort_values(by=['share'],ascending=[True],na_position='first')
sort3

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
120,136393,Photo,1,10,7,9,0.0,584,1029,273,271,308,943,511,232,0,2.0,NaN,2
124,136393,Photo,1,10,7,6,0.0,677,1285,251,246,297,1210,615,211,0,7.0,NaN,7
164,135428,Photo,1,9,5,10,0.0,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [20]:
trans = df1.transpose()
trans

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
Type,1,0,1,1,1,0,1,1,0,1,...,1,1,1,Link,1,1,1,1,1,1
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,3,1,3,3,3,2,1,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,1,7,7,5,5,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,2,11,3,11,2,10,2,8,2,11
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,4800,5280,6184,45920,8412,5400,4684,3480,3778,4156
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,7754,8703,10228,5808,13960,9218,7536,6229,7216,7564
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,975,951,956,753,1179,810,733,537,625,626
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,938,911,901,655,1111,756,708,508,572,574
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1278,1237,1140,763,1632,1003,985,687,795,832
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,4932,5757,6085,15766,8632,5654,4750,3961,4742,4534
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,2820,3300,3502,10720,5348,3230,2876,2104,2388,2452
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,432,431,437,220,699,422,392,301,363,370
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,1,0,17,10,5,0,4,7
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,74.0,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,28.0,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,103,110,152,137,257,176,84,75,115,136

In [21]:
df1.shape

(495, 19)

In [22]:
arr = subset2.to_numpy()
arr

array([[1, 2, 3, 66.0, 12.0],
       [1, 1, 0, 0.0, 0.0],
       ['Link', 1, 0, 16.0, 2.0],
       [1, 3, 0, 72.0, 24.0],
       [0, 2, 3, 99.0, 19.0],
       [0, 2, 0, 88.0, 18.0],
       [0, 2, 10, 412.0, 72.0],
       [1, 3, 0, 100.0, 17.0],
       [1, 2, 36, 523.0, 63.0],
       ['Video', 1, 18, 143.0, 13.0],
       [1, 2, 33, 107.0, 22.0],
       [1, 2, 1, 27.0, 11.0],
       [1, 3, 2, 155.0, 47.0],
       [1, 3, 4, 98.0, 23.0],
       [1, 1, 2, 56.0, 17.0],
       [1, 2, 6, 172.0, 21.0],
       [1, 3, 0, 96.0, 17.0],
       [1, 1, 16, 76.0, 8.0],
       [0, 2, 11, 227.0, 31.0],
       [1, 1, 1, 44.0, 14.0],
       [0, 2, 7, 216.0, 39.0],
       ['Link', 1, 6, 187.0, 18.0],
       [1, 1, 7, 26.0, 3.0],
       ['Link', 1, 7, 29.0, 10.0],
       [1, 1, 0, 47.0, 11.0],
       ['Link', 1, 4, 57.0, 10.0],
       [0, 1, 4, 174.0, 36.0],
       ['Link', 1, 6, 18.0, 8.0],
       [1, 1, 0, 77.0, 15.0],
       ['Link', 1, 1, 12.0, 1.0],
       [1, 2, 1, 48.0, 9.0],
       [1, 1, 24, 285.0, 28.0],
       [1, 1, 9, 202.0, 31.0],
       [1, 1, 4, 64.0, 19.0],
       [1, 1, 4, 66.0, 13.0],
       ['Video', 1, 2, 65.0, 14.0],
       [1, 1, 2, 164.0, 54.0],
       [1, 1, 0, 40.0, 13.0],
       [1, 1, 3, 76.0, 11.0],
       [1, 1, 4, 139.0, 17.0],
       [1, 1, 8, 101.0, 14.0]], dtype=object)

In [23]:
arr.shape

(41, 5)

In [24]:
arr1 = arr.reshape(205,1)
arr1

array([[1],
       [2],
       [3],
       [66.0],
       [12.0],
       [1],
       [1],
       [0],
       [0.0],
       [0.0],
       ['Link'],
       [1],
       [0],
       [16.0],
       [2.0],
       [1],
       [3],
       [0],
       [72.0],
       [24.0],
       [0],
       [2],
       [3],
       [99.0],
       [19.0],
       [0],
       [2],
       [0],
       [88.0],
       [18.0],
       [0],
       [2],
       [10],
       [412.0],
       [72.0],
       [1],
       [3],
       [0],
       [100.0],
       [17.0],
       [1],
       [2],
       [36],
       [523.0],
       [63.0],
       ['Video'],
       [1],
       [18],
       [143.0],
       [13.0],
       [1],
       [2],
       [33],
       [107.0],
       [22.0],
       [1],
       [2],
       [1],
       [27.0],
       [11.0],
       [1],
       [3],
       [2],
       [155.0],
       [47.0],
       [1],
       [3],
       [4],
       [98.0],
       [23.0],
       [1],
       [1],
       [2],
       [56.0],
       [17.0],
       [1],
       [2],
       [6],
       [172.0],
       [21.0],
       [1],
       [3],
       [0],
       [96.0],
       [17.0],
       [1],
       [1],
       [16],
       [76.0],
       [8.0],
       [0],
       [2],
       [11],
       [227.0],
       [31.0],
       [1],
       [1],
       [1],
       [44.0],
       [14.0],
       [0],
       [2],
       [7],
       [216.0],
       [39.0],
       ['Link'],
       [1],
       [6],
       [187.0],
       [18.0],
       [1],
       [1],
       [7],
       [26.0],
       [3.0],
       ['Link'],
       [1],
       [7],
       [29.0],
       [10.0],
       [1],
       [1],
       [0],
       [47.0],
       [11.0],
       ['Link'],
       [1],
       [4],
       [57.0],
       [10.0],
       [0],
       [1],
       [4],
       [174.0],
       [36.0],
       ['Link'],
       [1],
       [6],
       [18.0],
       [8.0],
       [1],
       [1],
       [0],
       [77.0],
       [15.0],
       ['Link'],
       [1],
       [1],
       [12.0],
       [1.0],
       [1],
       [2],
       [1],
       [48.0],
       [9.0],
       [1],
       [1],
       [24],
       [285.0],
       [28.0],
       [1],
       [1],
       [9],
       [202.0],
       [31.0],
       [1],
       [1],
       [4],
       [64.0],
       [19.0],
       [1],
       [1],
       [4],
       [66.0],
       [13.0],
       ['Video'],
       [1],
       [2],
       [65.0],
       [14.0],
       [1],
       [1],
       [2],
       [164.0],
       [54.0],
       [1],
       [1],
       [0],
       [40.0],
       [13.0],
       [1],
       [1],
       [3],
       [76.0],
       [11.0],
       [1],
       [1],
       [4],
       [139.0],
       [17.0],
       [1],
       [1],
       [8],
       [101.0],
       [14.0]], dtype=object)

In [25]:
df.pivot_table(index="like",columns="Total Interactions", aggfunc="sum")

C:\Users\Shubham\AppData\Local\Temp\ipykernel_14408\2840420801.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.pivot_table(index="like",columns="Total Interactions", aggfunc="sum")

                   Category                                               ...  \
Total Interactions     0    2    3    4    5    6    7    8    9    10    ...
like                                                                      ...
0.0                     5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1.0                     NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  ...
2.0                     NaN  3.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
3.0                     NaN  NaN  2.0  NaN  NaN  1.0  NaN  NaN  NaN  NaN  ...
4.0                     NaN  NaN  NaN  1.0  2.0  1.0  NaN  NaN  NaN  NaN  ...
...                     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1572.0                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1622.0                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1639.0                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
1998.0                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...
5172.0                  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...

                   share                                                  \
Total Interactions  1174 1290 1439 1626   1777   1806 1873   1974   2177
like
0.0                  NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN    NaN
1.0                  NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN    NaN
2.0                  NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN    NaN
3.0                  NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN    NaN
4.0                  NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN    NaN
...                  ...  ...  ...  ...    ...    ...  ...    ...    ...
1572.0               NaN  NaN  NaN  NaN  147.0    NaN  NaN    NaN    NaN
1622.0               NaN  NaN  NaN  NaN    NaN    NaN  NaN  208.0    NaN
1639.0               NaN  NaN  NaN  NaN    NaN  122.0  NaN    NaN    NaN
1998.0               NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN  128.0
5172.0               NaN  NaN  NaN  NaN    NaN    NaN  NaN    NaN    NaN


Total Interactions   6334
like
0.0                   NaN
1.0                   NaN
2.0                   NaN
3.0                   NaN
4.0                   NaN
...                   ...
1572.0                NaN
1622.0                NaN
1639.0                NaN
1998.0                NaN
5172.0              790.0

[257 rows x 4480 columns]

In [26]:
display(pd.concat([series1, series2],
                  axis = 1))

display(pd.concat([df1, df2],
                  keys = ['key1', 'key2']))

pandas.concat(objs, *, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=None)


Join



DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)


newdf = df1.join(df2)

df = pd.merge(a, b, on='id', how='inner')

df = pd.merge(a, b, on='id', how='left')

SyntaxError: iterable argument unpacking follows keyword argument unpacking (1668841265.py, line 7)